.product-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 18px;
}

.product{
    border: 2px solid tomato;
    padding: 10px;
    width: 23%;
    margin-top: 10px;
}

.btn{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.update{
    color: white;
    background-color: green;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.delete{
    color: white;
    background-color: red;
    border: none;
    padding: 5px;
    cursor: pointer;
}

